<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="El Rincón Seguro"
            IconSourceFile="$(var.Setup.ProjectDir)Resources\Application.ico"
            Manufacturer="!(bind.packageManufacturer.SetupX86)"
            UpgradeCode="B292DA04-045D-4B08-8B3D-6E921772A3E5"
            Version="!(bind.packageVersion.SetupX86)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="$(var.Setup.ProjectDir)Resources\License.rtf"
                                                    LocalizationFile="Resources\Theme.wxl"
                                                    LogoFile="Resources\Logo.png"
                                                    SuppressOptionsUI="yes"
                                                    SuppressRepair="yes"
                                                    ThemeFile="Resources\Theme.xml" />
        </BootstrapperApplicationRef>
        <Chain>
            <PackageGroupRef Id="DotNetFramework" />
            <PackageGroupRef Id="VisualCppRuntime" />
            <MsiPackage Id="SetupX64"
                        Compressed="yes"
                        DisplayInternalUI="no"
                        InstallCondition="VersionNT64"
                        SourceFile="$(var.Setup.ProjectDir)bin\x64\Release\$(var.Setup.TargetFileName)"
                        Vital="yes" />
            <MsiPackage Id="SetupX86"
                        Compressed="yes"
                        DisplayInternalUI="no"
                        InstallCondition="NOT VersionNT64"
                        SourceFile="$(var.Setup.ProjectDir)bin\x86\Release\$(var.Setup.TargetFileName)"
                        Vital="yes" />
        </Chain>
    </Bundle>
</Wix>
